

body {
  background-color: black;
}

#Header {
  border: white solid 3px;
  background-color: #128FBB;
  text-align: center;
}


#Titulo {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.BodyContent {
  /* border: red solid 3px; */
  height: 100px;
  color: red;
  text-align: center;
}

.description-content {
  color: white;
  font-size: 25px;
}

.Logo {
  display: flex;
  justify-content: end;
}

.img-logo {
  /* border: blue solid 2px; */
}



