

body {
  background-color: black;
}

#Header {
  border: white solid 3px;
  background-color: #128FBB;
  /* text-align: center; */
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 881px ) {
  .menu-navigation{
    border: red solid 2px;
    display: none;
  }
}

.menu-navigation {
  /* background-color: red; */
  width: 350px;
  margin-top: 15px;
}

ul {
  display: flex;
  justify-content: space-between;
  /* margin: 30px; */
}


#burguer {
  font-size: 40px;
  margin-top: 20px;
}

#burguer:hover {
  color: black;
}

@media screen and (min-width: 881px ) {
  #burguer{
    display: none;
  }
}

@media screen and (max-width: 550px ) {
  #burguer{
    position: relative; 
    bottom: 12px;
    left: 5px;
 }  
}





#Titulo {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 20px;
}

@media screen and (max-width: 550px) {
  #Titulo {
    font-size: 22px;
    position: relative;
    right: 10px;
  }
}


.BodyContent {
  /* border: red solid 3px; */
  height: 120px;
  color: red;
  text-align: center;
}

.description-content {
  color: white;
  font-size: 20px;
}

/* .Logo {
  display: flex;
  justify-content: end;
} */

/* .img-logo {
  /* border: blue solid 2px; */
/* }  */

.img-may {
  border: white solid 2px;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.container-may {
  /* border: green solid 3px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.Mayara {
  color: white;
}

.May-and-img {
  text-align: center;
  font-size: large;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen  and (max-width: 325px) {
  .history-button-container{
    position: relative;
    top: 30px;
  }
}


.history-button-container {
/* border: red solid 2px; */
margin: 30px;
height: 200px;
text-align: center;
font-size: large;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 500;
}

  
.link {
  text-decoration: none;
  font-size: 40px;
  border: white solid 3px;
  background-color: #128FBB;
  color: white;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  padding: 5px;


}

/* .link {
  text-decoration: none;
  color: black;
  position: relative;
  transition: all 0.3s ease-in-out;
} */

.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.link:hover {
  color: black		;
}

.link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

li {
list-style: none;

}

a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.material-icons{
  color: white;
}